body {
    margin: 0;
    background-color: #FAFAFA;
 }

#proj {
    background-color: antiquewhite;
    padding-bottom: 0.5rem;
}

.container {
    text-align: center;
    font-size: 25px;
}


#links {
    margin-left: 50px;/*or whatever indentation size you want*/
  }
  
ul {
    text-align: center;
    list-style-position: inside;
}